anypoint-studio-project/src/main/mule/netsuite-to-excel.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="netsuite-to-excel-config" api="netsuite-to-excel.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="netsuite-to-excel-main">
        <http:listener config-ref="netsuite-to-excel-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="netsuite-to-excel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform doc:name="Create HTTP 400 Response" doc:id="f50e4cf9-85ff-4cb7-b075-9db94b0b46ba">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	dateTime: now(),
	httpStatus: 400,
	summaryMessage: error.description,
	errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Create HTTP 404 Response" doc:id="819caa7c-c0c4-4563-8794-f8e14e404e5a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 404,
  summaryMessage: "There is no resource that match the provided URL",
  errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Create HTTP 405 Response" doc:id="3ab3d6bd-96e0-41a6-9206-437338311883">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 405,
  summaryMessage: "The requested HTTP method is not allowed on this resource",
  errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Create HTTP 406 Response" doc:id="a8b0d5e7-f366-41a4-a99f-ad4ddb71a8f7">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 406,
  summaryMessage: "Not acceptable error",
  errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Create HTTP 415 Response" doc:id="527c5133-d32e-4d2e-b122-302136d743d5">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 415,
  summaryMessage: "The media type is not supported by this resource",
  errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Create HTTP 501 Response" doc:id="b695c9eb-c1c5-4539-9901-94ac5ee3d5d4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 501,
  summaryMessage: "Not implemented error",
  errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY">
                <ee:transform doc:name="Create HTTP 500 Response" doc:id="f122b697-6b66-4896-934c-63445fbb90b7">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 500,
  summaryMessage: "Internal server error",
  errorType: "ANY"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="netsuite-to-excel-console">
        <http:listener config-ref="netsuite-to-excel-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="netsuite-to-excel-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Create HTTP 404 Response" doc:id="21b12462-4ef1-430a-8cd9-e50d820545bc">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  dateTime: now(),
  httpStatus: 404,
  summaryMessage: "There is no resource that match the provided URL",
  errorType: error.errorType.identifier
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\item:netsuite-to-excel-config">
		<flow-ref doc:name="put-worksheet-impl-flow" doc:id="d1a8d6ce-d39a-415a-84eb-6c250e800fb9" name="put-worksheet-impl-flow"/>
    </flow>
</mule>
